@media only screen and (min-device-width: 320px)  {

	#h{
		display: block;
		/*text-align: left;*/
		border: solid 10px #28151B;
		background: #28151B;
		opacity: 0.6;
		/*margin-bottom: 4%;*/
		font-size: 30%;

	}
	.top {
		top: 0;
		position: fixed;
	}

	#h h1 {
		color: white;
	}

	body {
		background-image: url("../static/testingpic.jpg");
		/*background: white;*/
	}

	#hometext a {
		text-decoration: none;
		font-weight: bold;
	}

	#hometext a:hover > h3 {
		text-decoration: none;
		color: black;
		background-color: #28151B;
	}

	#nav1{
		display: none;
	}

	#nav2 {
		display: inline;
		/*margin-top: 10%;*/
	}

	#nav2 span {
		/*margin-top: 4%;*/
		font-size: 250%;
		color: white;
	}

	#nav2 a {
		font-size: 450%;
	}

	#homejumbo .jumbotron {
		/*margin-top: 400px;*/
		display: block;
		/*opacity: 0.3;*/
		background: white;
		/*border-radius: 30px;*/
		margin-left: 4%;
		margin-right: 4%;
		text-align: center;
	}

	#homejumbo .jumbotron h2, h3 {
		font-size: 250%;
		color: #231F29;
	}

/*
	#mid img {
		border-radius: 30px;
		display: block;
		width: 92%;
		margin: 4%;
	}*/

	#bottom img {
		width: 10%;
		display: inline-block;
	}


	footer {
		/*#24394D*/
		background: #231F29;
		/*margin-top: 4%;*/
		padding-top: 4%;
		position: relative;
		bottom: 0;
		text-align: center;
		display: inline-block;
		margin-bottom: 0;
	}

	footer p {
		font-size: 1em !important;
		color: white;
	}


	#About h2 {
		font-size: 450%;
		font-weight: bold;
		color: black;
	}
	#About p {
		font-weight: bold;
		font-size: 350%;
	}
	#About a {
		text-decoration: none;
		font-weight: bold;
		color: black;
	}
	#About a:hover {
		color: black;
		background-color: #3385D6;
	}

	#About .jumbotron{
		padding-bottom: 4%;
		margin-top: 15%;
		opacity: 0.3;
		border-radius: 30px;
		margin-left: 4%;
		margin-right: 4%;
	}

	#About .jumbotron h2 {
		text-align: center;
	}

	.photos ul li img{
		padding-right: 2%;
		height: auto;
		width: 125px;
		cursor: pointer;
		position: relative;
	}

	.photos ul {
 		margin-left: -10px;
	}

	.photos ul li {
		list-style: none;
		margin-bottom: 25px;
	}


	#cont .jumbotron{
		margin-top: 15%;
		opacity: 0.3;
		border-radius: 30px;
		margin-left: 15%;
		margin-right: 15%;
		height: 80%;
		padding-right: 3%;
		padding-left: 3%;

	}

	#cont .jumbotron h2, h4, p {
		margin: 10px;
		color: black;
	}

	#cont h2 {
		font-size: 500%;
		font-weight: bold;
	}
	#cont #Contact h2 {
		font-size: 550%;
		font-weight: bold;
	}
	#cont p {
		font-size: 400%;
		font-weight: bold;
	}
	#cont h4 {
		font-size: 350%
	}

}

@media only screen and (min-device-width: 520px) {

	#h h1 {
		font-size: 600%;
	}
	#h h2 {
		font-size: 450%;
	}
	#About h2 {
		font-size: 250%;
		font-weight: normal;
	}
	#About p {
		font-size: 150%;
		font-weight: normal;
	}
	#cont h2 {
		font-size: 250%;
	}
	#cont h4 {
		font-size: 150%;
		font-weight: normal;
	}
	#cont #Contact h2 {
		font-size: 250%;
	}
	#cont #Contact p {
		font-size: 150%;
		font-weight: normal;
	}
	#nav1 {
		display: none;
	}
	#nav2 {
		display: block;
	}

	#About .jumbotron{
	margin-left: 10%;
	margin-right: 10%;
	}

	footer {
		position: relative;
		bottom: 0;
	}

	.photos ul li img{
		width: 150px;
	}
}

@media only screen and (min-device-width: 800px) {

	#nav2 {
		display: none;
	}
	#nav1 {
		opacity: 0.6;
		border: solid 8px #28151B;
		background: #28151B;
		display: inline-block;
	}
	#nav1 ul li a{
		text-decoration: none;
		color: white;
		font-size: 125%;
	}
	/*#nav1 ul li {
		background-color: #5E743F;
	}*/
	 #nav1 .nav-pills>li.active>a, .nav-pills > li.active > a:focus,
	 .nav-pills > li.active > a:focus {
		 color: #fff;
		 background-color: #5E743F !important;
	 }
	 #nav1 nav-pills > .active > a > .badge {
		 color:#5E743F !important;
		 background-color:#fff;
	 }
	#homejumbo {
		display: block;
		margin-top: 15%;
		margin-bottom: 8%;

	}
	#homejumbo .jumbotron {
		opacity: 0.4;
		border-radius: 10px;
		/*float: left;*/
		width: 60%;
		margin: 130px 1% 0 0%;
	}

	#mid div {
		border: 1px solid #A6A4A7;
		padding: 3%;
		background: #A6A4A7;
		position: static;
		width: 100%;
		height: 55rem;
		display: block;
	}

	#mid img {
		padding-bottom: 3%;
		margin-right: 3%;
		float: left;
		width: 20%;
		height: auto;
		display: inline-block;
	}

	#mid h2 {
		display: inline;
	}
	#mid a {
		color: #5E743F;
	}

	#bottom img {
		width: 5%;
	}

	.photos ul li img{
		width: 150px;
		padding-right: 35px;
	}
	.photos ul {
		margin-left: -35px;
	}

}
