{% extends "base.html" %}

{% block home %}
  <div class="tab-content">
      <div id="About" class="tab-pane fade in active">
        <div class="jumbotron"><p>
          <h2>About Me</h2>
            <section id="aboutme">
            <p>I am Merri Zervas, a Junior at the <a href="https://www.umich.edu">University of Michigan</a> within the <a href="https://www.si.umich.edu">School of Information.</a></p>
            <p>I am in a professional fraternity called <a href="http://kappathetapi.com">Kappa Theta Pi,</a> where we work on our professional skills, relationships, and build technological skills together. Here's <a href="skills.html">what I've done</a> within KTP.</p>
          </section>
          <h2>Where I've Been</h2>
            <p>I grew up in Owosso and Brighton, Michigan. At these respective high schools, I participated and led sports teams and academic clubs to success. I also graduated with a 3.94 cumulative GPA and was a part of <a href="http://brightonmusical.com/past-shows/beauty-and-the-beast/">Brighton High School Music Theater Program's</a> showcase of Beauty and the Beast.</p>
            <p>In college, I've shown leadership as a Move-In Maker and becoming an active member of KTP, doing community service and helping advocate for professional development in students my age and younger.</p>
          <h2>Where I'm Going</h2>
            <p>Some day, I will be in a leadership or executive position building, designing, creating, and improving technologies and designs.</p>
            <p>My goals include becoming a successful Web Developer and Designer, as well as building a significant portfolio that showcases my achievements in this field.</p>

      </div>
    </div>
  </div>
{% endblock %}


