{% extends "base.html" %}

{% block home %}
<section id="cont">
  <div class="tab-content">
    <div class="jumbotron">
      <div id="Contact" class="tab-pane fade in active">
        <h2>Contact</h2>
            <p>Phone: (989) 494-2089</p>
            <p>Email: mzervas@umich.edu</p>
            <p>Fill out the form below to send me an email!</p>

<form action="{{ url_for('idk') }}" method=post>

    {{ form.hidden_tag() }}
 
    {{ form.name.label }} <br>
    {{ form.name }}
    <br><br>
    {{ form.email.label }}<br>
    {{ form.email }}
    <br><br>
    {{ form.subject.label }}<br>
    {{ form.subject }}
    <br><br>
    {{ form.message.label }}<br>
    {{ form.message }}
    <br><br>
    {{ form.submit }}

            <p>Or follow any of the social media site links below!</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}