{% extends "base.html" %}

{% block home %}
  <section id = "homejumbo">
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
           <div class="tab-content">
            <div class="jumbotron"><p>
                <div id="hometext" class="tab-pane fade in active">
                  <h2>Welcome!</h2>
                  <h3>I'm Merri.</h3>
                  <h3>I'm a Junior in the BSI program at U of M's School of Information.</h3>
                  <a href="skills"><h3>Check out what I've made!</h3></a>
                </div>
            </div>
          </div>
          <section id ="mid"> 
          <img src ="static/me.jpg" alt="Merri Zervas"/>
          </section>
        </div>   
      </div>
    </section>
{% endblock %}



